services:
  database:
    container_name: database
    image: 'mongo:latest'
    ports:
      - '3200:27017'
    environment:
      - MONGO_INITDB_DATABASE=fit-log
    volumes:
      - mongodb-data:/data/db

  s3-local:
    container_name: s3-local
    image: localstack/localstack:latest
    ports:
      - '3366:4566' # LocalStack gateway
      - '3310-3359:4510-4559' # External services port range
    environment:
      - DEBUG=1
    volumes:
      - s3-data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock

  opensearch-local:
    container_name: opensearch-local
    image: opensearchproject/opensearch:latest
    ports:
      - '3400:9200' # REST API
      - '3401:9600' # Performance Analyzer
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true # Disable security for local development
      - DISABLE_INSTALL_DEMO_CONFIG=true
    volumes:
      - opensearch-data:/usr/share/opensearch/data

volumes:
  mongodb-data:
    external: false
  s3-data:
    external: false
  opensearch-data:
    external: false
