service: fit-log

frameworkVersion: '3'

plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-dynamodb-stream
  - serverless-plugin-log-retention
  - serverless-prune-plugin

package:
  individually: true

custom:
  # serverless-prune-plugin
  prune:
    automatic: true
    includeLayers: true
    number: 1

  # serverless-plugin-log-retention
  logRetentionInDays: 7

  # Serverless convention
  convention:
    functions:
      folders:
        - src/api
        - src/lambdas
      pattern:
        - '*-handler.yml'
    resources:
      folders:
        - cloudformation
        - src/api
        - src/lambdas
      pattern:
        - '*-role.yml'
        - '*-resources.yml'
  included: ${file(../../node_modules/serverless-convention/index.js)}

  serverless-offline:
    httpPort: 3100

  # serverless-dynamodb-stream
  dynamodb-stream:
    endpoint: http://localhost:3200
    region: ${self:provider.region}
    accessKeyId: local
    secretAccessKey: local
    skipCacheInvalidation: false
    readInterval: 500

provider:
  deploymentBucket:
    name: jrposada-deployment-bucket
  endpointType: REGIONAL
  name: aws
  region: eu-west-3
  runtime: nodejs20.x
  stage: ${opt:stage, 'test'}

functions:
  - ${self:custom.included.functions}
resources:
  - Description: App to track workouts
  - ${self:custom.included.resources}
